
<div class="container">
    <h1 style="text-align: center;background-color: aquamarine;">Add Product Information</h1>
    
<form (ngSubmit)= "onSubmit()">
    
    <div class="mb-3">
        <label for="product_name">Product Name:</label><br>
        <input type="text" class="form-control" id="product_name" name="product_name" [(ngModel)]="products.name" placeholder="Product Name">
    </div>
    <div class="mb-3">
        <label for="product_price">Product Price:</label><br>
        <input type="number"  class="form-control" id="product_rice" name="product_price" [(ngModel)]="products.price" placeholder="Product Price">
    </div>
    <div class="mb-3">
        <label for="quantity">Quantity:</label><br>
        <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="products.quantity" placeholder="Quantity">

    </div>
    <div class="mb-3">
        <label for="purchase_date">Purchase Date</label><br>
        <input type="date" class="form-control" id="purchase_date" name="purchase_date"  [(ngModel)]="products.purchase_date" placeholder="Purchase Date">
    </div>
    <div class="mb-3">
        <label for="sell_date">Sell Date</label><br>
        <input type="date" class="form-control" id="sell_date" name="sell_date" [(ngModel)]="products.sell_date" placeholder="Sell Date">
    </div>
   
    <div class="mb-3">
        <label for="buy_from">Buy From</label><br>
        <input type="text" class="form-control" id="buy_from" name="buy_from" [(ngModel)]="products.buy_from" placeholder="Buy From">
    </div>
    <div class="mb-3">
        <label for="sell_to">Sell To</label><br>
        <input type="text"class ="form-control" id="sell_to" name="sell_to" [(ngModel)]="products.sell_to" placeholder="Sell To">
    </div>
    <button type="submit" class="btn btn-primary">{{ isUpdate? 'Edit' : 'ADD' }}</button>
</form>
</div>
