<form action="">
    <div class="mb-3">
        <label for="product_id">Product Id: </label><br>
        <input type="number" id="product_id" name="product_id" placeholder="Product id">
    </div>
    <div class="mb-3">
        <label for="product_name">Product Name:</label><br>
        <input type="text" id="product_name" name="product_name" placeholder="Product Name">
    </div>
    <div class="mb-3">
        <label for="product_price">Product Price:</label><br>
        <input type="number" id="product_price" name="product_price" placeholder="Product Price">
    </div>
    <div class="mb-3">
        <label for="quantity">Quantity:</label><br>
        <input type="number" id="quantity" name="quantity" placeholder="Quantity">

    </div>
    <div class="mb-3">
        <label for="purchase_date">Purchase Date</label><br>
        <input type="date" id="purchase_date" name="purchase_date" placeholder="Purchase Date">
    </div>
    <div class="mb-3">
        <label for="sell_date">Sell Date</label><br>
        <input type="date" id="sell_date" name="sell_date" placeholder="Sell Date">
    </div>
   
    <div class="mb-3">
        <label for="buy_from">Buy From</label><br>
        <input type="text" id="buy_from" name="buy_from" placeholder="Buy From">
    </div>
    <div class="mb-3">
        <label for="sell_to">Sell To</label><br>
        <input type="text" id="sell_to" name="sell_to" placeholder="Sell To">
    </div>
</form>
